@model TheaterDatabase.ViewModels.CRUD_VMs.CastsVM



<h3>Casts</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped" id="casts-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntCastID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrVoicePart)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrRole)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Member)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Show)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstCasts)
                {
                    <tr data-casts="@(item.IntCastID + "_row")">
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.IntCastID)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.StrVoicePart)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.StrRole)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.Member.StrName)</span>
                            @Html.DropDownListFor(model => model.IntMemberID, new SelectList(Model.LstAllMembers, "IntMemberID", "StrName"), new { @class = "form-control divYesEditing", @data_cast = item.IntCastID + "_member" })
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Show.StrName)</span>
                        </td>
                        <td>
                            <button onclick="updateCasts(@item.IntCastID)" class="m-1 btn btn-primary divYesEditing"><i class="fas fa-check-circle"></i></button>
                            <button onclick="editRow('casts', @item.IntCastID)" class="m-1 btn btn-primary divNoEditing"><i class="fas fa-pen"></i></button>
                            <button onclick="deleteCasts(@item.IntCastID)" class="m-1 btn btn-danger divNoEditing"><i class="fas fa-trash"></i></button>
                            <button onclick="cancelEditRow('casts', @item.IntCastID)" class="m-1 btn btn-secondary divYesEditing"><i class="fas fa-window-close"></i></button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>




    <br />
    <hr />
    <br />

    <div class="row divNoNewRow">
        <div class="col">
            <p class="float-right">
                <button class="m-1 btn btn-primary" onclick="showInsertRow('casts')">Insert Row</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-2 divYesNewRow">
            @Html.EditorFor(model => model.StrVoicePart, new { htmlAttributes = new { @class = "form-control", @placeholder = "Voice Part", @data_cast = "new_strVoicePart" } })
        </div>
        <div class="col-2 divYesNewRow">
            @Html.EditorFor(model => model.StrRole, new { htmlAttributes = new { @class = "form-control", @placeholder = "Role", @data_cast = "new_strRole" } })
        </div>
        <div class="col-3 divYesNewRow">
            @Html.DropDownListFor(model => model.IntMemberID, new SelectList(Model.LstAllMembers, "IntMemberID", "StrName"), new { @class = "form-control", @data_cast = "new_memberID" })
        </div>
        <div class="col-3 divYesNewRow">
            @Html.DropDownListFor(model => model.IntShowID, new SelectList(Model.LstAllShows, "IntShowID", "StrName"), new { @class = "form-control", @data_cast = "new_showID" })
        </div>
        <div class="col divYesNewRow">
            <button class="m-1 btn btn-primary" onclick="insertCasts()">Insert</button>
            <button class="m-1 btn btn-secondary" onclick="hideInsertRow('casts')">Cancel Insert</button>
        </div>
    </div>

</div>
