@model TheaterDatabase.ViewModels.CRUD_VMs.MembersVM



<h3>Members</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped" id="members-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntMemberID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrName)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstMembers)
                {
                    <tr data-members="@(item.IntMemberID + "_row")">
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.IntMemberID)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.StrName)</span>
                            @Html.EditorFor(model => model.StrName, new { htmlAttributes = new { @class = "form-control divYesEditing", @data_members = item.IntMemberID + "_strName", @Value = item.StrName } })
                        </td>
                        <td>
                            <button onclick="updateMember(@item.IntMemberID)" class="m-1 btn btn-primary divYesEditing">Update</button>
                            <button onclick="editRow('members', @item.IntMemberID)" class="m-1 btn btn-primary divNoEditing">Edit</button>
                            <button onclick="deleteMember(@item.IntMemberID)" class="m-1 btn btn-danger divNoEditing">Delete</button>
                            <button onclick="cancelEditRow('members', @item.IntMemberID)" class="m-1 btn btn-secondary divYesEditing">Cancel</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>




    <br />
    <hr />
    <br />

    <div class="row divNoNewRow">
        <div class="col">
            <p class="float-right">
                <button class="m-1 btn btn-primary" onclick="showInsertRow('members')">Insert Row</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-3 divYesNewRow">
            @Html.EditorFor(model => model.StrName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @data_members = "new_strName" } })
        </div>
        <div class="col divYesNewRow">
            <button class="m-1 btn btn-primary" onclick="insertMember()">Insert</button>
            <button class="m-1 btn btn-secondary" onclick="hideInsertRow('members')">Cancel Insert</button>
        </div>
    </div>


</div>