@model TheaterDatabase.ViewModels.CRUD_VMs.MembersVM



<h3>Members</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" id="members-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntMemberID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrName)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstMembers)
                {
                    <tr data-members="@(item.IntMemberID + "_row")">
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.IntMemberID)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.StrName)</span>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IntMemberID }) |
                            @Html.ActionLink("Detail", "Detail", new { id = item.IntMemberID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IntMemberID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>