@model TheaterDatabase.ViewModels.CRUD_VMs.PitsVM



<h3>Pits</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped" id="pits-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntPitID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrInstrument)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntSeat)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Member)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Show)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstPits)
                {
                    <tr data-pits="@(item.IntPitID + "_row")">
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.IntPitID)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.StrInstrument)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.IntSeat)</span>
                            @Html.EditorFor(model => model.IntSeat, new { htmlAttributes = new { @class = "form-control divYesEditing", @data_pits = item.IntPitID + "_intSeat", @Value = item.IntSeat } })
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.Member.StrName)</span>
                            @Html.DropDownListFor(model => model.IntMemberID, new SelectList(Model.LstAllMembers, "IntMemberID", "StrName"), new { @class = "form-control divYesEditing", @data_pits = item.IntPitID + "_member" })
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Show.StrName)</span>
                        </td>
                        <td>
                            <button onclick="updatePits(@item.IntPitID)" class="m-1 btn btn-primary divYesEditing">Update</button>
                            <button onclick="editRow('pits', @item.IntPitID)" class="m-1 btn btn-primary divNoEditing">Edit</button>
                            <button onclick="deletePits(@item.IntPitID)" class="m-1 btn btn-danger divNoEditing">Delete</button>
                            <button onclick="cancelEditRow('pits', @item.IntPitID)" class="m-1 btn btn-secondary divYesEditing">Cancel</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>




<br />
<hr />
<br />

<div class="row divNoNewRow">
    <div class="col">
        <p class="float-right">
            <button class="m-1 btn btn-primary" onclick="showInsertRow('pits')">Insert Row</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-2 divYesNewRow">
        @Html.EditorFor(model => model.StrInstrument, new { htmlAttributes = new { @class = "form-control", @placeholder = "Instrument", @data_pits = "new_strInstrument" } })
    </div>
    <div class="col-2 divYesNewRow">
        @Html.EditorFor(model => model.IntSeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Seat", @data_pits = "new_intSeat" } })
    </div>
    <div class="col-3 divYesNewRow">
        @Html.DropDownListFor(model => model.IntMemberID, new SelectList(Model.LstAllMembers, "IntMemberID", "StrName"), new { @class = "form-control", @data_pits = "new_memberID" })
    </div>
    <div class="col-3 divYesNewRow">
        @Html.DropDownListFor(model => model.IntShowID, new SelectList(Model.LstAllShows, "IntShowID", "StrName"), new { @class = "form-control", @data_pits = "new_showID" })
    </div>
    <div class="col divYesNewRow">
        <button class="m-1 btn btn-primary" onclick="insertPits()">Insert</button>
        <button class="m-1 btn btn-secondary" onclick="hideInsertRow('pits')">Cancel Insert</button>
    </div>
</div>