@model TheaterDatabase.ViewModels.CRUD_VMs.ShowsVM



<h3>Shows</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" id="shows-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntShowID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrName)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrAuthor)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntBudget)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.YsnIsMusical)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Club)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Date)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstShows)
                {
                    <tr data-shows="@(item.IntShowID + "_row")">
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.IntShowID)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.StrName)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.StrAuthor)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.IntBudget)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.YsnIsMusical)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.Club.StrClubName)</span>
                            @Html.DropDownListFor(model => model.IntClubID, new SelectList(Model.LstAllClubs, "IntClubID", "StrClubName"))
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.Date.StrSemester) @Html.DisplayFor(modelItem => item.Date.IntYear)</span>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IntShowID }) |
                            @Html.ActionLink("Detail", "Detail", new { id = item.IntShowID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IntShowID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>




<br />
<hr />
<br />

<div class="row divNoNewRow">
    <div class="col">
        <p class="float-right">
            <button class="m-1 btn btn-primary" onclick="showInsertRow('staff')">Insert Row</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-2 divYesNewRow">
        @Html.EditorFor(model => model.StrName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Instrument", @data_cast = "new_strInstrument" } })
    </div>
    <div class="col-2 divYesNewRow">
        @Html.EditorFor(model => model.StrAuthor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Seat", @data_cast = "new_intSeat" } })
    </div>
    <div class="col-3 divYesNewRow">
        @Html.DropDownListFor(model => model.YsnIsMusical, new { htmlAttributes = new { @class = "form-control", @placeholder = "IsMusical", @data_cast = "new_ysnIsMusical" } })
    </div>
    </div>
    <div class="col-3 divYesNewRow">
        @Html.DropDownListFor(model => model.IntBudget, new { htmlAttributes = new { @class = "form-control", @placeholder = "Budget", @data_cast = "new_intBudget } })
    </div>
    <div class="col divYesNewRow">
        <button class="m-1 btn btn-primary" onclick="insertShows()">Insert</button>
        <button class="m-1 btn btn-primary" onclick="hideInsertRow('shows')">Cancel Insert</button>
    </div>
</div>
