@model TheaterDatabase.ViewModels.CRUD_VMs.ShowsVM



<h3>Shows</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped" id="shows-table">
                <thead>
                    <tr>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntShowID)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrName)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.StrAuthor)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.IntBudget)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.YsnIsMusical)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Club)</span>
                        </th>
                        <th>
                            <span>@Html.DisplayNameFor(m => m.Date)</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.LstShows)
                {
                    <tr data-shows="@(item.IntShowID + "_row")">
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.IntShowID)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.StrName)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.StrAuthor)</span>
                        </td>
                        <td>
                            <span class="divNoEditing">@Html.DisplayFor(modelItem => item.IntBudget)</span>
                            @Html.EditorFor(model => model.IntBudget, new { htmlAttributes = new { @class = "form-control divYesEditing", @data_show = item.IntShowID + "_budget", @Value = item.IntBudget } } )
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.YsnIsMusical)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Club.StrClubName)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Date.SemAndYear)</span>
                        </td>
                        <td>
                            <button onclick="updateShow(@item.IntShowID)" class="m-1 btn btn-primary divYesEditing"><i class="fas fa-check-circle"></i></button>
                            <button onclick="editRow('shows', @item.IntShowID)" class="m-1 btn btn-primary divNoEditing"><i class="fas fa-pen"></i></button>
                            <button onclick="deleteShow(@item.IntShowID)" class="m-1 btn btn-danger divNoEditing"><i class="fas fa-trash"></i></button>
                            <button onclick="cancelEditRow('shows', @item.IntShowID)" class="m-1 btn btn-secondary divYesEditing"><i class="fas fa-window-close"></i></button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="row divNoNewRow">
        <div class="col">
            <p class="float-right">
                <button class="m-1 btn btn-primary" onclick="showInsertRow('shows')">Insert Row</button>
            </p>
        </div>
    </div>

    <div class="row justify-content-around p-1">
        <div class="col-2 divYesNewRow">
            @Html.EditorFor(model => model.StrName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @data_show = "new_strName" } })
        </div>
        <div class="col-2 divYesNewRow">
            @Html.EditorFor(model => model.StrAuthor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Author", @data_show = "new_strAuthor" } })
        </div>
        <div class="col-2 divYesNewRow">
            @Html.EditorFor(model => model.IntBudget, new { htmlAttributes = new { @class = "form-control", @placeholder = "Budget", @data_show = "new_intBudget" } })
        </div>
        <div class="col-1 divYesNewRow">
            @Html.EditorFor(model => model.YsnIsMusical, new { htmlAttributes = new { @class = "form-control", @placeholder = "Musical?", @data_show = "new_ysnIsMusical" } })
            <label class="form-check-label" for="YsnIsMusical">
                Musical?
            </label>
        </div>
        <div class="col-2 divYesNewRow">
            @Html.DropDownListFor(model => model.IntClubID, new SelectList(Model.LstAllClubs, "IntClubID", "StrClubName"), new { @class = "form-control", @data_show = "new_clubID" })
        </div>
        <div class="col-2 divYesNewRow">
            @Html.DropDownListFor(model => model.IntDateID, new SelectList(Model.LstAllDates, "IntDateID", "SemAndYear"), new { @class = "form-control", @data_show = "new_dateID" })
        </div>
        <div class="col divYesNewRow">
            <button class="m-1 btn btn-primary" onclick="insertShow()">Insert</button>
            <button class="m-1 btn btn-secondary" onclick="hideInsertRow('shows')">Cancel Insert</button>
        </div>

    </div>
</div>
