@model TheaterDatabase.ViewModels.Analytics_VMs.AnalyticsVM

@{
    ViewBag.Title = "Analytics";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<hr />
<br />

<div id="shows-by-instrument">
    @{ @Html.Partial("AnalyticsPartials/_ShowsByInstrument", Model._showsByInstrument_vm) }
</div>
<br />
<hr />
<br />

<div>
    @{ @Html.Partial("AnalyticsPartials/_MusicalCounts", Model._musicalsCount_vm) }
</div>

<br />
<hr />
<br />

<div id="voice-parts">
    @{ @Html.Partial("AnalyticsPartials/_MembersByVoicePart", Model._membersByVoicePart_vm) }
</div>

<br />
<hr />
<br />

<div>
    @{ @Html.Partial("AnalyticsPartials/_BudgetAverages", Model._budgetAverage_vm) }
</div>

<br />
<hr />
<br />

<div id="repeat-staffs">
    @{ @Html.Partial("AnalyticsPartials/_RepeatStaffs", Model._repeatStaffPositions_vm) }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        makeBudgetAvgGraph();
        makeMusicalCountsGraph();
    });
</script>
